/* Loading Spinner */  
#loader {  
  animation: spin 1s linear infinite;  
  height: 10px;  
  width: 10px;  
  position: absolute;  
  top: 50%;  
  left: 50%;  
  margin: -5px;  
  z-index: 1000;  
  background: transparent;  
}  
  
@keyframes spin {  
