@font-face {
    font-family: 'BUSEletters168';
    src: url('BUSEletters168.eot');
    src: url('BUSEletters168.eot?#iefix') format('embedded-opentype'),
        url('BUSEletters168.woff2') format('woff2'),
        url('BUSEletters168.woff') format('woff'),
        url('BUSEletters168.ttf') format('truetype'),
        url('BUSEletters168.svg#BUSEletters168') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

